# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=732132167845-vhtpvecshalv1kjsuhg3cdvlf40vt6hd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

GITHUB_ID=c387adef4deb4cd3c222
GITHUB_SECRET=f2c6c3415141a3e5d04a3955615199ba92784284
